.contenedorHome {
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(74, 74, 74);
    border-radius: 9px;
    height: 35vh;
    margin-top: 30px;
    padding: 20px;
   
}

.contenedorHome h3 {
    font-family: Orbitron;
    font-size: 20px;
    margin-top: 15px;
    
}
.contenedorHome ul {
    list-style: none;
    font-family: Goldman;
    font-size: 20px;
}